<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<springProfile name="elk">
		<include resource="base-gelf.xml" />
	</springProfile>

	<logger name="org.springframework.web" level="WARN" />
	<logger name="eu.hermes" level="DEBUG" />




</configuration>